/* html,body{
    width: 100%;
} */
html{
    padding-right: 0 !important ;
    margin: 0;
}
.menu{
    background-color: #252623;
   
}

h3{    
    margin-top: 100px;
    margin-left: 100px; 
    margin-bottom: 20px;   
}
button{
    
    margin-left:-70px;
    float:right;
}

.carousel-caption{
    position: absolute;
    margin-bottom: 150px;
}
h1{
    font-size: 70px;
}
.btn{
    margin: 20px;
}
.caption{
    margin-left: 100px;
    font-family: 'Montserrat'
}
.nav-link{
    color: white;
}
.icon_materi img{
    margin-left:100px;
    margin-right: 10px;
    width: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}
strong{
    font-family: 'Montserrat';
}
.course .card{
    width: 30% !important;
    display: inline-flex !important;
}

.course .card-text {
    min-height: 120px;
}
.sub {
 height: 300px;
 justify-content: center;   
}

#boxform{
    color: #5a5a5a;
    background-color: #fff;
    opacity: 1;
    padding: 20px;
    text-align: left;
    width: 300px;
}

#loginbox {
    opacity: .94;
    margin-bottom: 3rem;
}

.no-padding {
 padding-right: 0 !important;
 padding-left: 0 !important;
 
}

.ads{
    margin-left: 200px;
    margin-top: 100px;
}


.ads1{
    margin-left: 50px;
    margin-top: 150px;
}
form{
    width: 400px;
    height: 460px;
    background-color: rgb(255, 189, 65);
    padding: 50px;
    border-radius: 20px;
    margin:auto;
}
